
.c-red{
    background-color: #FF5C5C;
}
.c-yellow1{
    background-color: #FFD15C;
}
.c-yellow2{
    background-color: #EDBA36;
}
.c-yellow3{
    background-color: #DEA718;
}
.c-yellow4{
    background-color: #C08D0A;
}
.c-blue1{
    background-color: #006BCD;
}
.c-blue2{
    background-color: #65B5FF;
}